# General Ignores + IDE
.DS_Store
settings.xml
WEB-INF
.env
.vscode

# logs + tests
logs/**
tests/results/**

# npm
**/node_modules/*
npm-debug.log
yarn-error.log

# Ignored Dependencies
cfSnippets
coldbox
testbox
modules
**/apidocs/**

# Ignore compiled assets, we can do that in prod.
dist/**
.cache