/**
 * Reset
 */
html {
	font-size: 15px;
}
html,
body {
	padding: 0;
	margin: 0;
}

/**
 * Color theme!
 */
html {
	--color-primary: #af2d2d;
	--color-secondary: #4E7C7D;
	--color-accent: #fcaa67;
	--color-light: #ffffc7;
	--color-dark: #473335;
}
.has-background-primary {
	background-color: var( --color-primary );
}
.has-background-secondary {
	background-color: var( --color-secondary );
}
.has-background-accent {
	background-color: var( --color-accent );
}
.has-background-light {
	background-color: var( --color-light );
}
.has-background-dark {
	background-color: var( --color-dark );
}
.has-text-primary {
	color: var( --color-primary );
}
.has-text-secondary {
	color: var( --color-secondary );
}
.has-text-accent {
	color: var( --color-accent );
}
.has-text-light {
	color: var( --color-light );
}
.has-text-dark {
	color: var( --color-dark );
}
[class*="has-text-"] a {
	color: inherit;
}
/**
 * Typography
 */

/**
 * Helper classes
 */
.container {
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
}
.section {
	padding: 2rem;
}
.has-text-left {
	text-align: left;
}
.has-text-centered {
	text-align: center;
}
.has-text-right {
	text-align: right;
}

/**
 * Section styling
 */
.hero {
	padding: 2rem;
}
.hero.is-primary {
	background: var( --color-primary );
	color: var( --color-light );
}

/**
 * Footer!
 */
.footer {
	padding: 2rem;
}